@model IEnumerable<QuanLyBanSach.Models.AdminSach>
@{
    ViewBag.Title = "List_AD";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Danh sách Admin</h1>
<p class="mb-4">
    @Html.ActionLink("Create New", "")
</p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Quản lý</th>
                        <th>Tên Quản lý</th>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>---------</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.MaAD)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenAD)</td>
                            <td>@Html.DisplayFor(modelItem => item.TaiKhoan)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                            <td>
                                <button onclick="window.location.href='@Url.Action("", new { id = item.MaAD })'">Edit</button>
                                <button onclick="window.location.href='@Url.Action("", new { id = item.MaAD })'">Details</button>
                                <button onclick="if(confirm('Bạn có chắc chắn muốn xóa không?')) { window.location.href='@Url.Action("Delete_AD", new { id = item.MaAD })' }">Xóa</button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


