@model QuanLyBanSach.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/user.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng Ký</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/User/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/User/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/css/main.css">
    <!--===============================================================================================-->
    <style>
        .register-container {
            width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

            .register-container h2 {
                text-align: center;
                margin-bottom: 30px;
                color: #333;
            }

            .register-container input {
                width: 100%;
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
                box-sizing: border-box;
            }

            .register-container button {
                width: 100%;
                padding: 15px;
                border: none;
                background-color: #5cb85c;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            .register-container .error-message {
                color: red;
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    <div class="register-container">
        <h2>Đăng Ký</h2>
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <button type="submit">Đăng Ký</button>
            <div class="error-message">
                @if (TempData["ErrorMessage"] != null)
                {
                    @TempData["ErrorMessage"]
                }
            </div>
        }
        <p>Bạn đã có tài khoản? <a href="@Url.Action("Login", "Login")">Đăng nhập tại đây</a></p>
    </div>
</body>
</html>


